/*
..#######..########..########.##....##..........######.....###....##....##..######.
.##.....##.##.....##.##.......###...##.........##....##...##.##...###...##.##....##
.##.....##.##.....##.##.......####..##.........##........##...##..####..##.##......
.##.....##.########..######...##.##.##.#######..######..##.....##.##.##.##..######.
.##.....##.##........##.......##..####...............##.#########.##..####.......##
.##.....##.##........##.......##...###.........##....##.##.....##.##...###.##....##
..#######..##........########.##....##..........######..##.....##.##....##..######.
*/
@font-face {
  font-family: "Open-sans-regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open-sans-semi-bold";
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Open-sans-bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-size: 10px;
}

/*
.########..##.....##..........######.....###....##....##..######.
.##.....##.###...###.........##....##...##.##...###...##.##....##
.##.....##.####.####.........##........##...##..####..##.##......
.##.....##.##.###.##.#######..######..##.....##.##.##.##..######.
.##.....##.##.....##...............##.#########.##..####.......##
.##.....##.##.....##.........##....##.##.....##.##...###.##....##
.########..##.....##..........######..##.....##.##....##..######.
*/
@font-face {
  font-family: "DM-sans-regular";
  src: url("../fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DM-sans-bold";
  src: url("../fonts/DM_Sans/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

